@import url(https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap);

.submenu a,
nav .dropdown:hover .submenu,
nav .submenu {
    background-color: var(--color-bg-light)
}

.ipage .sec-10,
nav {
    margin: auto 2rem
}

.btn,
.card {
    transition: .3s ease-in-out
}

.btn,
a,
nav a {
    text-decoration: none;
}
a:hover{
    color: #fff;
    padding-left: 10px;
}

.brands,
.center,
.ft-1,
.ft-2,
.fx,
.fx-col {
    display: flex;
}

.btn-close,
.btn:hover,
footer .link,
header .link,
nav ul li {
    cursor: pointer
}

.btn:hover,
.contact-section i:hover,
.ft-col-bg i:hover {
    background-color: var(--color-blue)
}

:root {
    --color-text-light: #000000de;
    --color-text-dark: #ffffffde;
    --color-bg-light: #f0f2f5;
    --color-bg-dark: #121212;
    --color-blue: #2673dd;
    --color-error-light: #ee2c4a;
    --color-error-dark: #ab2b30;
    --color-success-light: #4c7;
    --color-success-dark: #309053;
    --color-border: #e8e8e8;
    --color-popup-background: #2673dd0d;
    font-size: 16px
}

html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1440px
}

.center {
    justify-content: center;
    align-items: center;
    margin: 2rem auto
}

.fx {
    align-items: center
}

.jc-sb {
    justify-content: space-between
}

.hero-section,
.jc-c {
    justify-content: center;
    align-items: center
}

.abhero-sec,
.ai-c,
.st-card .st-cta {
    align-items: center
}

.fx-col {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between
}

.btn {
    border: 1px solid var(--color-blue);
    border-radius: .25rem;
    color: var(--color-blue);
    padding: .8rem;
    align-items: stretch;
    line-height: .64rem
}

#header,
.brands img {
    border: 1px solid var(--color-border)
}

.btn:hover {
    color: var(--color-bg-light);
    box-shadow: rgba(0, 0, 0, .15) 0 5px 15px 0
}

.card:hover,
.list-card:hover,
.review-site:hover {
    box-shadow: rgba(0, 0, 0, .09) 0 3px 12px
}

#header {
    margin: auto 10px;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-between;
    height: 4rem;
    z-index: 999;
    position: sticky;
    top: 0;
    padding: (1/2)rem;
    background-color: var(--color-text-dark)
}

.logo {
    font-size: 1.4rem;
    font-weight: 900;
}

.logo span,
.logo:hover,
.sr-hero-section span {
    color: var(--color-error-light) 
}

.c-pio,
.sr-hero-section2 span,
a:visited {
    color: var(--color-blue)
}

.sr-hero-section2 .list-card {
    max-width: 47%
}

.logo:hover span {
    color: var(--color-bg-dark)
}

.gp-15,
.menu {
    gap: 15px
}

nav .submenu {
    display: none;
    position: absolute;
    top: 100%;
    width: 250px;
    border-radius: 14px;
    left: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, .12) 0 5px 8px
}

.menu .submenu li,
nav .submenu li {
    display: block
}

.submenu a {
    border-radius: 10px;
    color: var(--color-text-light)
}

nav .dropdown li {
    padding: 10px 0;
    border-bottom: 1px solid var(--color-text-light)
}

nav .dropdown li:last-child {
    border-bottom: 0
}

nav .dropdown:hover .submenu {
    display: block;
    color: var(--color-bg-light)
}

nav ul li {
    list-style: none;
    padding: 6px 8px
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

nav li {
    display: inline-block;
    position: relative
}

nav a {
    display: block;
    padding: 10px 20px
}

footer li:hover,
nav a:hover {
    background-color: var(--color-error-light);
    color: var(--color-bg-light)
}

main {
    margin-top: -3rem
}

.col {
    flex: 1;
    max-height: 38rem;
    margin: 20px 0;
    height: fit-content;
    justify-content: center;
    padding: 40px
}

.hero-i .hero-content {
    flex: 2
}

.decision-section img,
.hero-img img,
.sec-10 .col img,
.services-section img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%
}

.cta-section .title,
.heading,
.title {
    font-size: 4rem
}

.subheading {
    font-size: 2rem
}

.subtitle {
    font-size: 1.25rem
}

.des {
    font-size: .9rem;
    line-height: 1.4rem
}

.b {
    font-weight: 700
}

.h-ct {
    text-align: center
}

.brand-section {
    padding: 450px auto
}

.brands {
    margin: 25px;
    align-items: center;
    justify-self: center
}

.wrp {
    flex-wrap: wrap
}

.brands img {
    width: 15%;
    border-radius: 8px;
    background: var(--color-text-dark);
    transition: .2s ease-in
}

.brands img:hover,
.ft-col-bg i {
    border: 1px solid var(--color-blue)
}

.brd-1,
.ipage .sec-10,
.services-section .col-2 {
    border: 1px solid var(--color-border)
}

.brands img:hover {
    transform: scale(1.25);
    z-index: 1
}

.ps-30 {
    padding: 0 30px
}

.uc {
    text-transform: uppercase
}

.ipage .sec-10 .btn {
    max-width: max-content
}

.ipage .sec-10 .title {
    font-size: 3rem;
    font-weight: 700
}

.btn-slide {
    gap: 20px
}

.brd-rd-1 {
    border-radius: 1rem
}

.card,
.ipage .cta-section .sr-card {
    border: 1px solid var(--color-border)
}

.cards,
.gp-25 {
    gap: 25px
}

.card {
    height: 200px;
    border-radius: 20px
}

.list-card,
input {
    transition: .4s ease-in-out
}

.card:hover,
.list-card:hover {
    transform: translateY(-5px)
}

.card img {
    width: 100px;
    border-radius: 50%
}

.cta-section .subtitle {
    line-height: 2rem
}

.cta-section p {
    line-height: 1rem
}

.cta-section .list-card h5 {
    font-size: 1.1rem
}

.ipage .cta-section .sr-card .des,
.text {
    font-size: .9rem
}

.cta-section img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: 100%
}

.mtb-30 {
    margin: 2rem 0
}

.mtb-16 {
    margin: 1rem 0
}
.mlr-16{
    margin: 0 1rem;
}
.ml-16{
    margin-left: 1rem;
}
.mr-16 {
    margin-right: 1rem
}

.list-card {
    border-radius: 10px;
    border: 1px solid var(--color-border);
    padding: 10px;
    justify-content: flex-start
}

.list-card img {
    display: block;
    margin: 0 1rem 0 0;
    max-width: 20%;
    height: 50%
}

.i,
.list-card p {
    font-style: italic
}

.quote::after,
.quote::before {
    content: '"';
    font-size: 2rem;
    color: var(--color-error-light)
}

.cta-section .btn {
    max-width: fit-content
}

.ipage .cta-section .sr-card {
    max-width: 28%;
    padding: 1rem;
    border-radius: 1rem
}

.ipage .cta-section .sr-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.stories-section2 img {
    display: block;
    margin: 0 1rem 0 0;
    max-width: 30%;
    height: 30%;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    background-color: var(--color-bg-light)
}

.cta-section {
    margin: 100px 0
}

.cta-section .list-card,
.ft-col-bg {
    width: 30%
}

.stories-section {
    height: fit-content;
    margin: 4rem 0
}

.st-card {
    padding: 20px;
    width: 80%;
    height: max-content
}

.h-40,
input {
    height: 3rem
}

.st-card img {
    width: 3rem;
    margin-right: 1rem
}

.st-card .st-cta p {
    font-size: .9rem;
    font-weight: 300
}

.st-card .st-cta img {
    width: 2.3rem;
    margin-right: 20px
}

.ft-2 {
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center
}

.ft-col {
    width: 20%;
    border-right: 1px solid var(--color-border)
}

.ft-col-bg i {
    color: var(--color-blue);
    font-weight: bolder;
    font-style: normal;
    padding: 5px;
    border-radius: 4px
}

.ft-col-bg i:hover {
    color: var(--color-bg-light)
}

.mt-100 {
    margin: 100px 0 0
}

.ft-logo-des {
    width: 95%
}

.city-card img,
.popup {
    width: 100%
}

.ps-20 {
    padding: 0 20px
}

.p-20 {
    padding: 1.5rem
}

footer .fx-col .menu-item {
    list-style: none;
    padding: .3rem 0
}
.menu-item:hover a{
    color: #fff;
    padding-left: 10px;
}
footer img{
    width: 1.6rem;
    padding: .2rem;
    border-radius: .4rem;
    border: 1px solid var(--color-border);
}
.ft-col:last-child {
    border-right: 0
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-popup-background)
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-text-light);
    border: 1px solid var(--color-blue);
    padding: 20px;
    border-radius: 5px;
    text-align: center
}

.placeholder-text,
.text {
    background-color: transparent
}

.popup-content h2 {
    color: var(--color-success-light)
}

.popup-content p {
    color: var(--color-bg-light)
}

.btn-close {
    display: inline-block;
    color: var(--color-error-light)
}

.sr-ct-section,
.text {
    color: var(--color-text-light)
}

.btn-close:hover {
    animation: .35s linear rotate
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(270deg)
    }
}

.city-card,
.member-card,
.product-card {
    border: 1px solid var(--color-border);
    border-radius: 20px;
    overflow: hidden
}

.city-card {
    width: 420px
}

.member-card,
.product-card {
    width: 28%
}

.fx-1 {
    flex: 1;
    width: 50%
}

.fx-2 {
    flex: 2;
    width: 100%
}

.story-section .col {
    min-width: 50%
}

.cta-section form {
    position: relative;
    font-size: 1rem;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--color-border)
}

.cta-section form .fx-col {
    width: 48%
}

input {
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 1rem
}

input:focus {
    outline: 0;
    border-color: var(--color-blue)
}

.placeholder-text {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 3px solid transparent;
    pointer-events: none;
    display: flex;
    align-items: center
}

.text {
    padding: .5rem 0;
    transform: translate(0);
    transition: transform .15s ease-out, font-size .15s ease-out, background-color .2s ease-out, color .15s ease-out
}

.placeholder-text,
input {
    font-size: 1rem;
    padding: 0 .5rem
}

.p-30,
.review-card {
    padding: 30px
}

.contact-section {
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    margin: 100px
}

.contact-section i {
    color: var(--color-blue);
    font-style: normal;
    font-weight: 700;
    border: 1px solid var(--color-blue);
    padding: 8px;
    border-radius: 4px
}

.contact-section i:hover {
    color: var(--color-text-dark)
}

.contact-section .ct-form {
    border-left: 1px solid #ddd
}

.review-card {
    flex: 1;
    border: 1px solid var(--color-border);
    max-width: 50%;
    border-radius: 20px
}

.review-site,
.sr-ct-section {
    border: 1px solid var(--color-border)
}

.review-card p {
    max-width: 80%
}

.review-site {
    margin: 10px;
    border-radius: 15px
}

.sr-ct-section {
    border-radius: 10px;
    overflow: hidden
}

.sr-ct-section img {
    transform: scale(1.1);
    margin-left: 20px
}

.sr-sr.section .sr-card {
    width: 360px;
    border: 1px solid var(--color-border)
}

.sr-card img {
    max-width: 300px
}

.aboutpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.mtb-50 {
    margin: 3rem auto
}

.h-l {
    text-align: left
}

.faqs {
    max-width: 60%
}

.faqs img {
    width: 2rem;
    margin-right: 2rem
}

.abhero-sec img {
    width: 3rem
}

.ab-card,
.faqs {
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border)
}

.aboutpage img {
    width: 1.5rem
}
.f-1{
    flex: 1;
}
.f-2{
    flex: 2;
}
.f-3{
    flex: 3;
}

.aboutus .sec1{
    justify-content: center;
    align-items: center;
    /* display: flex; */
    height: 100%;
}
.aboutus .sec1 img, .aboutus .sec3 img{
    /* position: relative; */
    width: 120%;
    /* margin-top: 50%; */
    align-self: center;
    justify-self: center;
}
.aboutus .sec4 img{
    width: 100%;
}
.aboutus .sec6 img{
    width: 80%;
    align-self:self-end;
}
.aboutus .sec3 .fx-col:nth-child(2) , .aboutus .sec4 .fx-col:nth-child(1){
    padding: 3rem;
}
.aboutus .sec1 span{
    position: relative;
    right: -85%;
    font-style:italic;
    color: var(--color-error-light);
}
.b-b1{
    border-bottom: 1px solid var(--color-border);
}
.aboutus .sec2 .fx-col{
    width: 8rem;
    margin: auto 3rem;
    background: linear-gradient(to right, var(--color-text-dark),var(--color-border), var(--color-text-dark));
}
.b-1{
    border: 1px solid var(--color-border);
}
.br-1{
    border-radius: 1rem;
}
.values-container{
    justify-content: center;
}
.value-card{
    max-width: 26%;
}
.qt-bx::after{
    content:'⬇️';
    margin-left: 1rem;
}
.qt-bx::before{
    content:'⬆️';
    margin-right: 1rem;
}
.timeline-blocks .fx-col .title{
    font-weight: bold;
}
.timeline-blocks .fx-col{
    text-align: center;
    padding: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 1rem;
}
.timeline-blocks .fx-col img{
    position: relative;
    left:45%;
}
.pr_container{
    margin: 6rem 1.5rem 4rem;
}
.pr_cards_slider{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.aboutpage img{
    width: 1.5rem;
}